<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysEvapsnMapper">

    <resultMap id="SysEvapsnResult" type="SysEvapsn">
        <id     property="evaId"            column="evaid"      />
        <result property="loginId"          column="loginid"      />
        <result property="name"             column="name"   />
        <result property="deptId"           column="dept_id"    />
        <result property="create_time"      column="create_time"        />
        <result property="qcode"            column="qcode"  />
        <result property="status"           column="status"          />
        <result property="update_time"      column="update_time"       />
        <result property="create_by"        column="create_by"     />
        <result property="update_by"        column="update_by"         />
        <association property="dept"        column="dept_id" javaType="SysDept" resultMap="deptResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <select id="selectEvapsnList" parameterType="SysEvapsn" resultMap="SysEvapsnResult">
        select e.evaid,e.update_time,e.update_by,e.`status`,e.qcode,e.`name`,e.loginid,e.dept_id,e.create_time,e.create_by
        from sys_evapsn e
        LEFT JOIN sys_dept d
        on e.dept_id = d.dept_id
        <if test="loginId != null and loginId != ''">
            AND e.loginid like concat('%', #{loginId}, '%')
        </if>
        <if test="status != null and status != ''">
            AND e.status = #{status}
        </if>

        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(e.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(e.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptId != null and deptId != 0">
            AND (e.dept_id = #{deptId} OR e.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="insertEvapsn" parameterType="SysEvapsn"  useGeneratedKeys="true" keyProperty="evaId">
        insert into sys_evapsn(
          <if test="evaId != null and evaId != ''">evaid,</if>
          <if test="loginId != null and loginId != ''">loginid,</if>
          <if test="name != null and name != ''">name,</if>
          <if test="deptId != null and deptId != ''">dept_id,</if>
          create_time,
          qcode,
         status,
          create_by

        )
        values (
        <if test="evaId != null and evaId != ''">#{evaId},</if>
        <if test="loginId != null and loginId != ''">#{loginId},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="deptId != null and deptId != ''">#{deptId},</if>
        sysdate(),
        #{qcode},
        #{status},
        #{create_by}
        )
    </insert>

    <select id="selectLoginIdByEvaId" parameterType="Long" resultMap="SysEvapsnResult">
       SELECT loginid FROM `sys_evapsn` where evaid =#{evaId}
    </select>

    <update id="setQcodeIntoEvapsn" parameterType="SysEvapsn">
        update sys_evapsn set
        <if test="qcode != null and qcode != ''">qcode</if>
        =
        <if test="qcode != null and qcode != ''">#{qcode}</if>
        where
        <if test="evaId != null and evaId != ''">evaid</if>
        =
        <if test="evaId != null and evaId != ''">#{evaId}</if>
    </update>


</mapper>